<ul class="nav navbar-nav navbar-left">
    @if(Request.IsAuthenticated) {
        <li><a href="#">Olá @User.Identity.Name</a></li>
        <li>@Html.ActionLink("Sair", "LogOff", "Account")</li>
    }
    else {
        <li>@Html.ActionLink("Entrar", "LogOn", "Account")</li>
    }
</ul>
                    
                    
                