@*
    Partial view para renderização de notificações dinâmicas através do TempData
    de uma controller para a outra ou entre postbacks. 
*@

<script>
    /// Controla a exibição da  notificação e esconde a mesma após 2 segundos.
    $(document).ready(function () {
        if ($('#ModalNotification').css('display') == 'block') {
            setTimeout(function () {
                $('#ModalNotification').fadeOut('slow');
            }, 2000);
        }
    });
</script>


@{
    /// Verificação da TempData e defnição do estilo da caixa de mensagem.
    var display = "display: none;";

    if (TempData["Notification"] != null)
    {
        display = "display: block; background-color: rgb(62, 234, 52); padding: 1px; text-align: center;";
    }   
}

<!-- Caixa de notificações -->
<div id="ModalNotification" style="@display">
    @if (TempData["Notification"] != null)
    {
        <p>@TempData["Notification"].ToString()</p>
    }
</div>
